@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap"); /* animacion para que las fotos de las sucursales aparezcan de arriba a abajo */
@keyframes fotoAnim {
  0% {
    opacity: 0;
    transform: rotateX(-100deg);
    transform-origin: top;
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }
} 
/* animacion para que los botones del menu se agranden un poco*/
@keyframes botonAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* animacion para que aparezca algo con un fade forward */
@keyframes entrada {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes neon {
  0%, 100% {
    text-shadow: 0 0 1vw #d49204, 0 0 3vw #d49204, 0 0 10vw #d49204, 0 0 10vw #d49204, 0 0 0.4vw #FED128, 0.5vw 0.5vw 0.1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 0.5vw #e08c24, 0 0 1.5vw #e08c24, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 0.2vw #800E0B, 0.5vw 0.5vw 0.1vw #40340A;
    color: #806914;
  }
}
* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(10, 10, 10);
  background-image: url(../img/backgrounds/fondo.jpg);
  background-repeat: no-repeat;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 0;
}

header img {
  width: 100%;
  height: auto;
}

.btnMain, .btnContact, .btnPromo, .btnCant, .btnMenos, .btnMas {
  color: rgb(235, 201, 7);
  background-color: rgb(10, 10, 10);
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  margin-top: 10px;
  border-style: hidden;
  border: none;
}
.btnMain:hover, .btnContact:hover, .btnPromo:hover, .btnCant:hover, .btnMenos:hover, .btnMas:hover {
  cursor: pointer;
}

nav {
  background-color: rgb(235, 201, 7);
  width: 100%;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}
nav ul li {
  margin-inline: 15px;
  font-weight: 700;
  padding-top: 5px;
}
nav ul li:hover {
  color: rgb(10, 10, 10);
  transform: scale(1.2);
  text-shadow: none;
}
nav ul li a {
  text-decoration: none;
  color: rgb(10, 10, 10);
  font-size: 20px;
}
nav ul li a img {
  height: 25px;
  width: 25px;
}
nav a {
  text-decoration: none;
}
nav img {
  margin-right: 10px;
  margin-left: 15px;
}

footer {
  background-color: rgb(235, 201, 7);
  padding: 10px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
footer svg {
  width: 30px;
  height: 30px;
  fill: rgb(255, 254, 254);
  margin-right: 10px;
}
footer ul {
  list-style: none;
}
footer ul li a {
  color: rgb(10, 10, 10);
  text-decoration: none;
  font-size: 20px;
  margin-inline: 20px;
  font-weight: 700;
}
footer a {
  text-decoration: none;
}
footer div p {
  text-align: center;
  margin-bottom: 10px;
}

.imgFooter {
  height: 25px;
  width: 25px;
  margin-inline: 30px;
}

.Footer--title {
  font-weight: 700;
  color: rgb(10, 10, 10);
  font-size: 20px;
  padding: 0;
  text-align: center;
}

.card {
  width: 400px;
  background-color: rgb(235, 201, 7);
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 40px;
  margin-inline: 90px;
  padding-top: 10px;
  padding-inline: 10px;
  text-align: center;
}

.LinksCard {
  color: rgb(10, 10, 10);
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
}

.desc {
  color: rgb(255, 254, 254);
  text-align: center;
  margin: 20px;
  padding: 25px;
}

.titleMenu {
  color: rgb(235, 201, 7);
  padding: 15px;
}

.imgCard {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.cardmenu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 10px 20px;
  grid-template-areas: "b1 b2 b3" "b4 b5 b6";
  justify-items: center;
  align-items: center;
}
.cardmenu figure {
  width: 320px;
  background-color: rgb(235, 201, 7);
  border-radius: 5px;
  padding: 2px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  margin-inline: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cardmenu figure figcaption {
  color: rgb(10, 10, 10);
  font-size: 28px;
}
.cardmenu figure p {
  color: rgb(10, 10, 10);
  text-align: center;
  margin: 5px;
}

.cant {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.divCarrito {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}
.divCarrito a {
  text-decoration: none;
}

.irCarrito {
  color: rgb(10, 10, 10);
  text-align: center;
  background-color: rgb(235, 201, 7);
  padding: 15px;
  margin-bottom: 25px;
  width: 150px;
  border-radius: 10px;
}
.irCarrito:hover {
  cursor: pointer;
  background-color: rgb(10, 10, 10);
  color: rgb(235, 201, 7);
}

.btnMas:hover {
  cursor: pointer;
  background-color: rgb(37, 158, 7);
  color: rgb(255, 254, 254);
  animation: botonAnim 1.5s ease 0s infinite normal none;
}

.btnMenos:hover {
  cursor: pointer;
  background-color: rgb(212, 6, 6);
  color: rgb(255, 254, 254);
  animation: botonAnim 1.5s ease 0s infinite normal none;
}

.Sucursales {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}
.Sucursales div ul {
  list-style-image: url(../img/gps1.png);
}

.sucurHeader {
  color: rgb(235, 201, 7);
  text-align: center;
  margin: 30px;
  font-weight: 700;
}

.mapa {
  margin-right: 0px;
}

.sucurList {
  color: rgb(255, 254, 254);
  margin: 30px;
  font-weight: 700;
}
.sucurList a {
  color: rgb(255, 254, 254);
}

.fotosLrow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  margin-bottom: 35px;
  animation: fotoAnim 1s ease 0s 1 normal forwards;
}

.fotoLoc {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: 10px;
}

.h1Sucu {
  padding: 10px;
  margin-bottom: 20px;
}

.promos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 40px;
}

.cardPromo {
  width: 600px;
  height: 300px;
  background-color: rgb(235, 201, 7);
  border-radius: 5px;
  margin: 10px 10px;
  display: flex;
  flex-direction: row;
  color: rgb(10, 10, 10);
}
.cardPromo--img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  max-width: 100%;
  max-height: 100%;
}
.cardPromo--Content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  font-weight: bold;
  text-align: center;
}

.contactosides {
  /* hago que las 2 partes esten en la misma linea */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.redes {
  animation: entrada 1s ease 0s 1 normal forwards;
  color: rgb(255, 254, 254);
  width: 50%;
  padding: 40px;
  text-decoration: none;
}
.redes ul li {
  margin: 50px 50px;
  list-style: none;
  text-align: center;
}
.redes ul li a {
  color: rgb(255, 254, 254);
  text-decoration: none;
  padding-top: 50px;
  font-size: 24px;
  margin-left: 25px;
}
.redes ul li svg {
  height: 40px;
  width: 40px;
}

aside {
  font-weight: 700;
  float: right;
  background-color: rgb(235, 201, 7);
  width: 100%;
  margin-right: 50px;
}

.formu {
  margin-left: 20px;
  margin-top: 10px;
}

.btnContact {
  background-color: rgb(255, 254, 254);
  color: rgb(10, 10, 10);
}

.headerError {
  display: flex;
  justify-content: center;
}
.headerError img {
  width: 600px;
  height: 600px;
}

.divVolver {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}
.divVolver a {
  text-decoration: none;
}

.btnVolver {
  text-decoration: none;
  color: rgb(10, 10, 10);
  text-align: center;
  background-color: rgb(235, 201, 7);
  padding: 15px;
  margin-bottom: 25px;
  width: 150px;
  border-radius: 10px;
}
.btnVolver:hover {
  cursor: pointer;
  background-color: rgb(10, 10, 10);
  color: rgb(235, 201, 7);
}

/* breakpoint para Celular*/
@media (width < 576px) {
  /* footer */
  footer {
    display: flex;
    flex-direction: column;
  }
  .imgFooter {
    margin-inline: 5px;
    margin-bottom: 5px;
  }
  /* Pagina Sucursales */
  .Sucursales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
  }
  iframe {
    /* ajusto el mapa para que se vea bien en celular */
    width: 100%;
  }
  /* modifico las fotos del grid para mostrartlas en columna en vez de mostrarlas en una fila sola */
  .fotoLoc {
    width: 100%;
    height: 100%;
  }
  .fotosLrow {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;
    margin-bottom: 35px;
  }
  /* Index cards */
  /* ajustar la card para que se vea bien en celular */
  .card {
    width: auto;
    height: auto;
    background-color: rgb(235, 201, 7);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 40px;
    margin-inline: 10px;
    /* hago que la imagen no tenga borde grande(padding 0) asi se ve mejor en celular */
    padding-top: 0px;
    padding-inline: 0px;
    text-align: center;
  }
  /* ajustar imagen para celular, porque en pc tiene una resolucion muy alta y sino se sale de la pantalla */
  .imgCard {
    width: auto;
    height: auto;
    margin-bottom: 10px;
  }
  /* para que promociones.html sea responsive en vez de mostrar las promos en row las muestro en una sola columna */
  .promos {
    margin-top: 10px;
  }
  .cardPromo {
    width: 100%;
    height: 100%;
    margin: 20px 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  /* Pagina contacto */
  .contactosides {
    /* en vez de que el aside este al lado de las redes, hago que este abajo y entre en mobile */
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .formu {
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 40px;
  }
  .btnform {
    margin-bottom: 25px;
  }
  .redes ul li {
    margin-inline: 20px;
    list-style: none;
    text-align: center;
  }
  /* Pagina de menu */
  .cardmenu {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 0px 0px;
    grid-template-areas: "b1" "b2" "b3" "b4" "b5" "b6";
    justify-items: center;
    align-items: center;
  }
  .cardmenu figure {
    margin-top: 20px;
    width: 280px;
  }
  .imgCard {
    width: 280px;
    height: 280px;
  }
  /* pagina de error 404 */
  .headerError img {
    margin-top: 50px;
    width: 280px;
    height: 280px;
  }
}

/*# sourceMappingURL=main.css.map */
