/* animacion para que las fotos de las sucursales aparezcan de arriba a abajo */
@keyframes fotoAnim {
    0% {
        opacity: 0;
        transform: rotateX(-100deg);
        transform-origin: top;
    }

    100% {
        opacity: 1;
        transform: rotateX(0deg);
        transform-origin: top;
    }
}
/* animacion para que los botones del menu se agranden un poco*/
@keyframes botonAnim {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}
/* animacion para que aparezca algo con un fade forward */
@keyframes entrada {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}


@keyframes neon {
	0%,
	100% {
	  text-shadow: 0 0 1vw #d49204, 0 0 3vw #d49204, 0 0 10vw #d49204, 0 0 10vw #d49204, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
	  color: #FED128;
	}
	50% {
	  text-shadow: 0 0 .5vw #e08c24, 0 0 1.5vw #e08c24, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
	  color: #806914;
	}
  }